@use '_variables.scss';

@mixin boxshad ($color){
    -webkit-box-shadow: 10px 10px 15px -4px $color;
    -moz-box-shadow: 10px 10px 15px -4px $color;
    box-shadow: 10px 10px 15px -4px $color;
}

@mixin bc ($color){
    background-color: $color;
}

/* $base-color: #036;

@for $i from 1 through 6 {
  li:nth-child(2n + #{$i}) {
    background-color: lighten($base-color, $i * 5%);
  }
} */

$base-color: #036;
@for $i from 1 through 6 {
  .adv-item:nth-child(#{$i}) {
    background-color: lighten($base-color, $i * 5%);
  }
}

body{
    font: 100% "Space Mono", monospace;
    color: variables.$grey;
    margin: 0;
    padding: 0;
    background-color: variables.$white;
    overflow-x: hidden;
}

main{
    padding: 0 1em;
    article{
        display:flex;
        flex-wrap: wrap;

        section{
            flex-grow: 1;
            flex-basis: 45%;
            border: 1px variables.$lightgrey solid;
            @include boxshad (variables.$grey);
            padding: variables.$pad16;
            margin: 16px;
            clear: both;
            overflow: auto;
            box-sizing: border-box;

            #selling-points{
                flex-grow: 2;
                flex-basis: 100%;
            }
        }

        code{
            background: variables.$black;
            border: 1px solid variables.$grey;
            color: variables.$lightgrey;
            page-break-inside: avoid;
            font-family: monospace;
            font-size: 15px;
            line-height: 1.6;
            margin-bottom: 1.6em;
            max-width: 100%;
            overflow: auto;
            padding: 1em 1.5em;
            display: block;
            word-wrap: break-word; 

            .before{
                float: left;
                width: 40%;
            }

            .after{
                float: right;
                width: 40%;
            }
        }
    }
}

h1,
h2,
h3 {
    color: variables.$pink;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    padding: variables.$pad16*2;
    margin-bottom: 0px;
}

.messages {
    padding: variables.$pad16;
}

.sew {
    border: 1px solid variables.$lightgrey;
    padding: variables.$pad16;
    color: variables.$white;
}

.success {
    @include bc ($color:variables.$green);
    @extend .sew;
} 

.error {    
    @include bc ($color:variables.$red);
    @extend .sew;
    &:hover {
        background-color:variables.$green;
    }
} 

.warning {
    @include bc ($color:variables.$orange);
    @extend .sew;
}