$grey:#6b717f;
$lightgrey:#8C8C8C;
$white:#fff;
$black:#000;
$pink:#BF4080;
$green:green;
$red:red;
$orange:orange;

body{
    font: 100% "Space Mono", monospace;
    color: $grey;
    margin: 0;
    padding: 0;
    background-color: $white;
    overflow-x: hidden;
}

main{
    padding: 0 1em;

    article{
        display:flex;
        flex-wrap: wrap;

        section{
            flex-grow: 1;
            flex-basis: 45%;
            border: 1px $lightgrey solid;
            -webkit-box-shadow: 10px 10px 15px -4px $grey;
            -moz-box-shadow: 10px 10px 15px -4px $grey;
            box-shadow: 10px 10px 15px -4px $grey;
            padding: 16px;
            margin: 16px;
            clear: both;
            overflow: auto;
            box-sizing: border-box;

            #selling-points{
                flex-grow: 2;
                flex-basis: 100%;
            }
        }

        code{
            background: $black;
            border: 1px solid $grey;
            color: $lightgrey;
            page-break-inside: avoid;
            font-family: monospace;
            font-size: 15px;
            line-height: 1.6;
            margin-bottom: 1.6em;
            max-width: 100%;
            overflow: auto;
            padding: 1em 1.5em;
            display: block;
            word-wrap: break-word; 
            
            .before{
                float: left;
                width: 40%;
            }

            .after{
                float: right;
                width: 40%;
            }
        }
    }
}

h1,
h2,
h3 {
    color: $pink;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    padding: 32px;
    margin-bottom: 0px;
}

.messages {
    padding: 16px;
}

.sew {
    border: 1px solid $lightgrey;
    padding: 16px;
    color: $white;
}

.success {
    background-color: $green;
    @extend .sew;
}
    
.error {
    background-color: $red;
    @extend .sew;
    &:hover {
        background-color:$green;
    }
}
    
.warning {
    background-color: $orange;
    @extend .sew;
}



